.singleSpot-Container {
    display: flex;
    flex-direction: column;
    margin: 0px 12vw;
    margin-bottom: 80px;
  }

  .singleSpot-Header-name {
    margin-top: 40px;
    margin-bottom: 5px;
  }

  .singleSpot-Header-detail {
    margin-top: -14px;
    margin-bottom: 20px;
  }

  .singleSpot-Header-detail span {
    font-size: 15px;
    margin-right: 5px;
    font-weight: 500;
  }

  .singleSpot-imgContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    overflow: hidden;
    border-radius: 10px;
    height: 450px;
  }

  .one-spot-other-images-container {
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
    gap: 6px;
    height: 450px;
  }

  .mainSpot-img {
    max-height: 450px;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-height: 450px;
  }

  .subImg-container {
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
    gap: 6px;
    height: 450px;
  }

  .singleSpot-Container-Bot {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px
  }

  .spot-linebreak {
    display: flex;
    background-color: rgb(96, 123, 198, 0.2);
    margin-top: 30px;
    margin-bottom: 30px;
    width: 98%;
    height: 1px;
  }

  .price-rating-container {
    background-color: white;
    border-radius: 10px;
    border: solid rgb(187, 200, 228, 0.3) 0.1px;
    box-shadow: 0px 0px 10px rgb(187, 200, 228, 0.7);
    /* height: 22vh; */
    height: 250px;
    width: 100%;
    margin: 40px 0px 40px 10px;
    padding: 20px 0px 0px 20px;
  }

  .prc-header {
    display: flex;
    justify-content: space-between;
    margin-left: 6px;
    margin-right: 30px;
    height: 50px;
  }
/*
  .pr-review {
    padding-top: 5px;
  } */



  .one-spot-price {
    font-size: 20px;
    font-weight: bolder;
  }

  .long {
    width: 99.8%;
  }

  .reviewHeader-container{
    font-weight: bolder;
    font-size: 22px;
    margin-top: -3px;
  }

  .spot-review-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 40px;
  }


  .create-review-button {
    cursor: pointer;
    width: 115px;
    margin: 3px 0px 20px 0px;
    padding: 3px 10px;
    border-radius: 4px;
    background: #ff385c;
    border: 1px #ff385c solid;
    font: bold;
    color: white;
  }

  .create-review-button:hover {
    color:#ff385c;
    background: white;
    border: 1px #ff385c solid;
  }

  .review-modal-subheader {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 20px 10px 20px;
  }

  .review-rating {
    color: #ff385c;
    padding-left: 3px;
  }


  textarea {
    resize: none;
    width: 90%;
    font-size: 14px;
    padding: 10px;
    border: solid black 1px;
    border-radius: 4px;
    margin: 4px 0px;
  }


  select {
    font-size: 14px;
    padding: 4px;
    border: none;
    border-radius: 4px;
    margin: 4px 0px;
  }

  select:focus {
    outline: none;
  }

  .subspot-image {
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #bk-topright{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
  }
.bk-tr-star{
  margin-right: 10px;
}
#bk-rev-num{
  color: #7e7e7e;
  font-size: 14px;
}
#bk-price{
  color: #7e7e7e;
  font-size: 16px;
}
