.center-wrap{
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.allspots-container{
    display: flex;
    justify-content: space-between;
    margin: 80px 90px;
    flex-flow: row wrap;
}

.preview-img{
    width: 290px;
    height: 265px;
    border-radius: 15px;
    object-fit: cover;
}

.spotCard-box{
    cursor: pointer;
    width: 350px;
    height: 360px;
    margin: 15px;
}

.spotcard-content{
    display: flex;
    flex-direction: row;
    max-width: 275px;
    justify-content: space-between;
    margin-left: 5px;

}



.bold{
    font-weight: bold;
}

.spc-info-left{
    display: flex;
    flex-direction: column;
}
