.center-wrap{
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.allspots-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 30px 20px;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px 40px 20px 40px;
}
