.single-review {
    font-weight: bolder;
    margin-bottom: 30px;
    width: 457px;
  }

  .single-review h3 {
    margin-bottom: -10px;
  }

  .single-review-content {
    margin-right: 20px;
  }

  .single-review-image {
    width: 220px;
    height: 170px;
    border-radius: 4px;
    margin-right: 4px;
    object-fit: cover;
  }

  .my-single-image {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 6px;
  }


  .rv-submit-button {
    size: 50%;
    border: 1px #ff385c solid;
    border-radius: 4px;
    background: #ff385c;
    color: white;
    font: bold;
    margin-top: 5px;
    cursor: pointer;
  }

  .rv-submit-button:hover {
    background: white;
    border: 1px #ff385c solid;
    color:#ff385c;
  }
  #rev_date{
    color: #9d9891;
    font-weight: 100;
  }
  .rev_content{
    font-weight: 100;
    line-height: 1.4;
    color: rgb(103, 103, 103);
    font-size: 15px;
  }
  .rev_item_head_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;
  }
  .usr_rev_head_wrapper{
    display: flex;
    flex-direction: row;
    width: 500px;
  }
  .single-review-star{
    margin-bottom: 10px;
  }
