.ns-container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;
    align-items: center;
  }

  .ns-header-conatiner {
    margin-bottom: 10px;
  }

  .errorList {
    display: flex;
    list-style: none;
    color: #ff385c;
    font-size: 14px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .input-container {
    display: flex;
    justify-content: center;
  }

  .inputField-wrapper {
    border: rgb(200, 200, 200) 1px solid;
    padding-left: 10px;
    border-radius: 9px;
    margin: 15px 25px 25px 25px;
    padding-top: 5px;
  }

  .form-break{
    background-color: rgb(200, 200, 200);
    width: 103%;
    height:1px;
    margin-left: -11px;
    margin-top: 4px;
    margin-bottom: 4px;
  }


  .submit-button {
    width: 99%;
    padding: 10px;
    margin: 0px 0px 5px -3px;
    border: 1px #ff385c solid;
    border-radius: 4px;
    background: #ff385c;
    color: white;
    font: bold;
  }

  .submit-button:hover {
    background: white;
    border: 1px #ff385c solid;
    color:#ff385c;
  }
