.center-wrap{
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.pr-allspots-container{
    display: flex;
    justify-content: space-around;
    margin: 50px 100px 0px 100px;
    flex-direction: row;
    /* flex-flow: row wrap; */
    flex-wrap: wrap;
}


/* .spotCard-box{
    cursor: pointer;
    width: 350px;
    height: 360px;
    margin: 15px;
} */


.bold{
    font-weight: bold;
}

.pr_buttons_wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    width: 220px;
    justify-content: space-between;
}

.pr-submit-button {
    width: 100px;
    /* padding: 10px; */
    /* margin: 0px 0px 5px -3px; */
    size: 50%;
    border: 1px #ff385c solid;
    border-radius: 4px;
    background: #ff385c;
    color: white;
    font: bold;
    cursor: pointer;
  }

  .pr-submit-button:hover {
    background: white;
    border: 1px #ff385c solid;
    color:#ff385c;
  }

  .spot_header_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .prp-header{
    margin-left: 120px;
  }

  .prp{
    margin: 0px 120px;
    margin-bottom: 200px;
  }
  #prph{
    margin-top: 40px;
    margin-left: 140px;
  }
  .pr-linebreak{
    flex-direction: row;
    background-color: #ecf0f8;
    height: 2px;
    width: 1200px;
    margin: 20px 120px;
  }
  .pr-linebreak-wrapper{
    display: flex;
    flex-direction: row;

  }
.bk_info_prev_img{
  width: 350px;
  border-radius: 20px;
  /* height: 256px; */
}
.pr_bk_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 550px;
}
.pr_bk_card{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  box-shadow: #ecf0f8 1px 1px 5px 1px;
  border-radius: 20px;
  width: 800px;
  justify-content: space-between;
}
.pr_bk_content{
  margin: 2px 10px;
  color: #88827d;
}

.pr_bk_info{
  margin-top: 50px;
  margin-left: 80px;

}
#pr_bk_content_city{
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}
#pr_bk_content_dates{
  font-size: 14px;
  color: #88827d;
}
.cur_bk_header{
  margin-top: 60px;
  margin-left: 550px;
}
/* #cur_bk_0header{
  margin-left: 140px;
} */
#pr_bk_linebreak{
  height: 2px;
  background-color: #eaeef7;
  width: 100%;
}
.cur_bk_none{
  display: flex;
  flex-direction: column;
  margin: 0px 140px;
  width: 1500px;
}
